In [136]:
import decimal
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import os
import importlib

from win32.Demos.RegCreateKeyTransacted import trans

os.chdir("..\\..\\..")
print(os.getcwd())
import pulp
from app.utils.config import db_config
from app.models.player import Player
from sqlalchemy import Select
from sqlalchemy.orm import Session
from app.models.squad import Squad
importlib.reload(app.services.algorithm.utils)
from app.services.algorithm.utils import encode_squad,create_players_dataframe

C:\

In [135]:
from app.services.algorithm.utils import create_players_dataframe

ImportError: cannot import name 'create_players_dataframe' from 'app.services.algorithm.utils' (C:\Users\18pep\Documents\sem7\inżynierka\BackEnd\app\services\algorithm\utils.py)

In [257]:
engine=create_engine(db_config.DB_CONFIG)
with Session(engine) as session:
    with session.begin():
        data=session.execute(Select(Player).order_by(Player.id))
        data=data.scalars().all()
        playersNum=len(data)
        squad=session.execute(Select(Squad).where(Squad.id==9104)).scalars().first()
        current_squad=encode_squad(playersNum,squad)
        df=create_players_dataframe(data,squad)

In [258]:
df.iloc[339]

id                          340
name              Manuel Akanji
team_id                      13
position                      2
expectedPoints     [2.80, 1.70]
availability                100
buy_price                    55
sell_price                   55
Name: 339, dtype: object

In [486]:
import importlib
importlib.reload(app.services.algorithm.solver)
import sys
sys.setrecursionlimit(3000)

In [487]:
from app.services.algorithm.solver import Solver

In [488]:
solver=Solver(df,current_squad,playersNum,21,3,2)

In [489]:
status,transfer_in,transfer_out,captain,subs,team,squad,free=solver.solve([],[])
print(status)

ValueError: not enough values to unpack (expected 9, got 8)

In [461]:
def see_result(arr,numPlayers):
    res=[]
    for i in range(0,numPlayers):
        if arr[i].value()!=0:
            res.append(i)
            print(i,arr[i].value(), end=", ")
    print()
    return res

In [462]:
k=0
print("squad")
tmpsq1=see_result(squad[k],playersNum)
print("subs")
tmpsb1=see_result(subs[k],playersNum)
print("team")
tmpte1=see_result(team[k],playersNum)
print("in")
tmpin1=see_result(transfer_in[k],playersNum)
print("out")
tmpout1=see_result(transfer_out[k],playersNum)
print("captain")
tmpcap1=see_result(captain[k],playersNum)

squad
2 1.0, 98 1.0, 254 1.0, 290 1.0, 308 1.0, 323 1.0, 327 1.0, 338 1.0, 349 1.0, 365 1.0, 412 1.0, 446 1.0, 520 1.0, 540 1.0, 616 1.0,
subs
2 1.0, 290 1.0, 308 1.0, 412 1.0,
team
98 1.0, 254 1.0, 323 1.0, 327 1.0, 338 1.0, 349 1.0, 365 1.0, 446 1.0, 520 1.0, 540 1.0, 616 1.0,
in
323 1.0, 338 1.0, 349 1.0, 365 1.0, 540 1.0, 616 1.0,
out
116 1.0, 179 1.0, 229 1.0, 325 1.0, 332 1.0, 350 1.0,
captain
327 1.0,

In [463]:
df.iloc[tmpout1].sell_price.sum()-df.iloc[tmpin1].buy_price.sum()

np.int64(38)

In [465]:
sum(free[0]).value()

5.0

In [436]:
df

,id,name,team_id,position,expectedPoints,availability,buy_price,sell_price
0,1,Fábio Ferreira Vieira,1,3,"[0.00, 0.00]",0,54,54
1,2,Gabriel Fernando de Jesus,1,4,"[1.20, 1.70]",100,68,68
2,3,Gabriel dos Santos Magalhães,1,2,"[2.00, 2.50]",100,61,61
3,4,Kai Havertz,1,4,"[1.50, 2.50]",75,80,80
4,5,Karl Hein,1,1,"[0.00, 0.00]",0,40,40
...,...,...,...,...,...,...,...,...
673,674,Paris Maghoma,4,3,"[0.00, 0.00]",0,45,45
674,675,Josh Wilson-Esbrand,13,2,"[2.20, 1.70]",0,40,40
675,676,Zach Marsh,7,4,"[1.00, 1.00]",0,45,45
676,677,Ollie Scarles,19,2,"[1.20, 1.20]",0,40,40
677,678,Callum Bates,8,3,"[1.10, 1.10]",0,45,45

In [431]:
see_result(free[0],playersNum)

323 1.0, 365 1.0, 540 1.0,

[323, 365, 540]

In [429]:
k=1
print("squad")
tmpsq=see_result(squad[k],playersNum)
print("subs")
tmpsb=see_result(subs[k],playersNum)
print("team")
tmpte=see_result(team[k],playersNum)
print("in")
tmpin=see_result(transfer_in[k],playersNum)
print("out")
tmpout=see_result(transfer_out[k],playersNum)
print("captain")
tmpcap=see_result(captain[k],playersNum)

squad
2 1.0, 98 1.0, 234 1.0, 254 1.0, 290 1.0, 308 1.0, 323 1.0, 327 1.0, 338 1.0, 349 1.0, 365 1.0, 412 1.0, 446 1.0, 540 1.0, 616 1.0,
subs
2 1.0, 290 1.0, 308 1.0, 412 1.0,
team
98 1.0, 234 1.0, 254 1.0, 323 1.0, 327 1.0, 338 1.0, 349 1.0, 365 1.0, 446 1.0, 540 1.0, 616 1.0,
in
234 1.0,
out
520 1.0,
captain
327 1.0,

In [172]:
df.iloc[338]

id                            339
name              Virgil van Dijk
team_id                        12
position                        2
expectedPoints       [6.00, 6.50]
availability                    0
buy_price                      63
sell_price                     63
Name: 338, dtype: object

In [169]:
21+df.iloc[tmpout1].sell_price.sum()- df.iloc[tmpin1].buy_price.sum()

np.int64(32)

In [147]:
df.iloc[tmpin1].buy_price.sum()

np.int64(411)

In [149]:
df.iloc[tmpout1].sell_price.sum()

np.int64(422)

In [158]:
df.iloc[tmpout].sell_price

254    47
Name: sell_price, dtype: int64

In [113]:
df.iloc[tmpte].expectedPoints.apply(lambda x: x[1]).sum()

Decimal('79.10')

In [58]:
importlib.reload(app.services.algorithm.utils)
from app.services.algorithm.utils import get_decision_array

In [65]:
a=get_decision_array("name",2,2)

In [66]:
sum(sum(a))

1*name_0_0 + 1*name_0_1 + 1*name_1_0 + 1*name_1_1 + 0

In [68]:
sum(a[0])

1*name_0_0 + 1*name_1_0 + 0

In [122]:
dd=pd.DataFrame({"a":[1,2],"b":[3,4]})

In [131]:
for a in range(2):
    dd.loc[a,"a"]=4
dd

   a  b
0  4  3
1  4  4

In [478]:
d={}
d["tc"]=[1,2]
d["bb"]=[3,4]
a=d.get("wc")
for i in range(2):
    suma=sum([d[k][i] for k in d])
    print(suma)

1
2

In [474]:
for k in d:
    print(k)

tc
bb