In [1]:
import decimal
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import os
import importlib
os.chdir("..\\..\\..")
print(os.getcwd())
import pulp
from app.utils.config import db_config
from app.models.player import Player
from sqlalchemy import Select
from sqlalchemy.orm import Session
from app.models.squad import Squad
from app.services.algorithm.utils import encode_squad,create_players_dataframe

C:\Users\18pep\Documents\sem7\inżynierka\BackEnd

In [2]:
from app.services.algorithm.utils import create_players_dataframe

In [3]:
engine=create_engine(db_config.DB_CONFIG)
with Session(engine) as session:
    with session.begin():
        data=session.execute(Select(Player).order_by(Player.id))
        data=data.scalars().all()
        playersNum=len(data)
        squad=session.execute(Select(Squad).where(Squad.id==9104)).scalars().first()
        current_squad=encode_squad(playersNum,squad)
        df=create_players_dataframe(data,squad)
        dff=create_players_dataframe(data,Squad())

In [10]:
df.iloc[339]

id                                                              340
name                                                  Manuel Akanji
team_id                                                          13
position                                                          2
expectedPoints    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
availability                                                    100
buy_price                                                        54
sell_price                                                       54
Name: 339, dtype: object

In [4]:
import app
import importlib
importlib.reload(app.services.algorithm.utils)

In [18]:
importlib.reload(app.services.algorithm.solver)

In [19]:
from app.services.algorithm.solver import Solver

In [20]:
solverr=Solver(dff,None,playersNum,1000,None,1,None)

In [21]:
status,squad,team,captain,sub=solverr.get_best_squad(13)

In [31]:
s_arr=see_result(squad,playersNum)
t_arr=see_result(team,playersNum)
captain_arr=see_result(captain,playersNum)
sub_arr=see_result(sub,playersNum)

2 1.0, 14 1.0, 16 1.0, 81 1.0, 98 1.0, 121 1.0, 128 1.0, 181 1.0, 365 1.0, 368 1.0, 502 1.0, 557 1.0, 647 1.0, 663 1.0, 667 1.0,
2 1.0, 14 1.0, 16 1.0, 81 1.0, 98 1.0, 121 1.0, 128 1.0, 181 1.0, 365 1.0, 368 1.0, 502 1.0,
181 1.0,
557 1.0, 647 1.0, 663 1.0, 667 1.0,

In [28]:
dff["expectedPoints"][t_arr].apply(lambda x: x[12]).sum()

Decimal('59.25')

C:\Users\18pep\AppData\Local\Temp\ipykernel_34520\1299895070.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dff.iloc[s_arr][dff.position==3].expectedPoints.apply(lambda x: x[12])

16     5.88
98     6.46
181    6.93
365    6.14
502    6.18
Name: expectedPoints, dtype: object

In [24]:
solver=Solver(df,current_squad,playersNum,21,3,2)

TypeError: Solver.__init__() missing 1 required positional argument: 'currentWeek'

In [25]:
status,transfer_in,transfer_out,captain,subs,team,squad,free=solver.solve([],[])
print(status)

NameError: name 'solver' is not defined

In [11]:
def see_result(arr,numPlayers):
    res=[]
    for i in range(0,numPlayers):
        if arr[i].value()!=0:
            res.append(i)
            print(i,arr[i].value(), end=", ")
    print()
    return res

In [462]:
k=0
print("squad")
tmpsq1=see_result(squad[k],playersNum)
print("subs")
tmpsb1=see_result(subs[k],playersNum)
print("team")
tmpte1=see_result(team[k],playersNum)
print("in")
tmpin1=see_result(transfer_in[k],playersNum)
print("out")
tmpout1=see_result(transfer_out[k],playersNum)
print("captain")
tmpcap1=see_result(captain[k],playersNum)

squad
2 1.0, 98 1.0, 254 1.0, 290 1.0, 308 1.0, 323 1.0, 327 1.0, 338 1.0, 349 1.0, 365 1.0, 412 1.0, 446 1.0, 520 1.0, 540 1.0, 616 1.0,
subs
2 1.0, 290 1.0, 308 1.0, 412 1.0,
team
98 1.0, 254 1.0, 323 1.0, 327 1.0, 338 1.0, 349 1.0, 365 1.0, 446 1.0, 520 1.0, 540 1.0, 616 1.0,
in
323 1.0, 338 1.0, 349 1.0, 365 1.0, 540 1.0, 616 1.0,
out
116 1.0, 179 1.0, 229 1.0, 325 1.0, 332 1.0, 350 1.0,
captain
327 1.0,

In [463]:
df.iloc[tmpout1].sell_price.sum()-df.iloc[tmpin1].buy_price.sum()

np.int64(38)

In [26]:
sum(free[0]).value()

NameError: name 'free' is not defined

In [27]:
dff.buy_price[]

,id,name,team_id,position,expectedPoints,availability,buy_price,sell_price
0,1,Fábio Ferreira Vieira,1,3,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,54,54
1,2,Gabriel Fernando de Jesus,1,4,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",100,68,68
2,3,Gabriel dos Santos Magalhães,1,2,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",100,62,61
3,4,Kai Havertz,1,4,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",100,79,79
4,5,Karl Hein,1,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,40,40
...,...,...,...,...,...,...,...,...
679,680,Max Kinsey,3,2,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,40,40
680,681,Ruairi McConville,5,2,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,40,40
681,682,Tom Edozie,20,3,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,45,45
682,683,Callum Olusesi,18,3,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,45,45
683,684,Malachi Hardy,18,2,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,40,40

In [431]:
see_result(free[0],playersNum)

323 1.0, 365 1.0, 540 1.0,

[323, 365, 540]

In [429]:
k=1
print("squad")
tmpsq=see_result(squad[k],playersNum)
print("subs")
tmpsb=see_result(subs[k],playersNum)
print("team")
tmpte=see_result(team[k],playersNum)
print("in")
tmpin=see_result(transfer_in[k],playersNum)
print("out")
tmpout=see_result(transfer_out[k],playersNum)
print("captain")
tmpcap=see_result(captain[k],playersNum)

squad
2 1.0, 98 1.0, 234 1.0, 254 1.0, 290 1.0, 308 1.0, 323 1.0, 327 1.0, 338 1.0, 349 1.0, 365 1.0, 412 1.0, 446 1.0, 540 1.0, 616 1.0,
subs
2 1.0, 290 1.0, 308 1.0, 412 1.0,
team
98 1.0, 234 1.0, 254 1.0, 323 1.0, 327 1.0, 338 1.0, 349 1.0, 365 1.0, 446 1.0, 540 1.0, 616 1.0,
in
234 1.0,
out
520 1.0,
captain
327 1.0,

In [28]:
df.iloc[338]

id                                                              339
name                                                Virgil van Dijk
team_id                                                          12
position                                                          2
expectedPoints    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
availability                                                      0
buy_price                                                        63
sell_price                                                       63
Name: 338, dtype: object

In [169]:
21+df.iloc[tmpout1].sell_price.sum()- df.iloc[tmpin1].buy_price.sum()

np.int64(32)

In [147]:
df.iloc[tmpin1].buy_price.sum()

np.int64(411)

In [149]:
df.iloc[tmpout1].sell_price.sum()

np.int64(422)

In [158]:
df.iloc[tmpout].sell_price

254    47
Name: sell_price, dtype: int64

In [113]:
df.iloc[tmpte].expectedPoints.apply(lambda x: x[1]).sum()

Decimal('79.10')

In [33]:
importlib.reload(app.services.algorithm.utils)
from app.services.algorithm.utils import get_decision_array

NameError: name 'app' is not defined

In [36]:
a=get_decision_array("name",2,2)

NameError: name 'get_decision_array' is not defined

In [35]:
sum(sum(a))

NameError: name 'a' is not defined

In [68]:
sum(a[0])

1*name_0_0 + 1*name_1_0 + 0

In [122]:
dd=pd.DataFrame({"a":[1,2],"b":[3,4]})

In [131]:
for a in range(2):
    dd.loc[a,"a"]=4
dd

   a  b
0  4  3
1  4  4

In [478]:
d={}
d["tc"]=[1,2]
d["bb"]=[3,4]
a=d.get("wc")
for i in range(2):
    suma=sum([d[k][i] for k in d])
    print(suma)

1
2

In [474]:
for k in d:
    print(k)

tc
bb

In [30]:
s=Squad()

for i in s.transfers:
    print(i)
print("done")

done

In [29]:
sum([])

0